
.dollar-color {
  color: #008000;
}

.centered-heading {
  text-align: center;
  background: linear-gradient(90deg, #e933ff, #ffb400, #ff3333, #334dff, #e933ff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textflow 5s linear infinite;
}

.card img {
  max-height: 90%;
  max-width: 90%;
  margin: 5px;
}
